body {
  padding-top: 5rem;
}

.select-exc {
  text-align: center;
}

.select-correction {
  text-align: center;
}

.exc-choice {
  font-size: 20px;
  color: red;
}

.result-file img {
  width: 500px;
  height: 400px;
}

.result-file video {
  width: 500px;
  height: 400px;
}
.result-file {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
