body {
  padding-top: 5rem;
}

.select-exc {
  text-align: center;
}

.select-correction {
  text-align: center;
}
.btn {
  width: 300px;
}
.exc-choice {
  font-size: 20px;
  color: red;
}
.video-section h1 {
  padding: 10px 0;
}

.result-file img {
  width: 500px;
  height: 400px;
}

.result-file video {
  width: 500px;
  height: 400px;
}
.result-file {
  display: grid;
  grid-template-columns: 1fr 500px;
}

.side-box {
  height: 500px;
  width: 300px;
  text-align: center;
  border: 1px solid black;
}
#bg{
  width:700px;
  height:500px;
}
