{% extends "base.html" %} {% block main %} {% include 'flash_messages.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/dashboard.js"></script>

<div>
    <h1 class="page-header">Dashboard</h1>

  <p> <strong>username</strong> {{user.username}}</p>
  <p> <strong>weight</strong> {{user.weight}}</p>
  <p><strong>age</strong> {{user.age}}</p>
  <p><strong>weight_goal</strong> {{user.weight_goal}}</p>
  <p><strong>BMI</strong>  {{stats.BMI}}</p>
  <p><strong>BMR</strong>   {{stats.BMR}}</p>

<div class="col-md-6 offset-md-3 my-5">
   <div class="card">
    <div class="card-title">
        <h2> Last Session Data </h2>
    </div>
    <div  class="card-body">
        <canvas id="lastsession"></canvas>
        <button type="button" class="btn btn-primary"  id="compare"> Compare with pervious session</button>
    </div>
   </div>
 </div>
 <div class="col-md-6 offset-md-3 my-5">
  <div class="card">
   <div class="card-title">
       <h2> Imporve for Squat </h2>
   </div>
   <div  class="card-body">
       <canvas id="progress"></canvas>
   </div>
  </div>
</div>

</div>
{% endblock %}
