{% extends "base.html" %} {% block main %} {% include 'flash_messages.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/dashboard.js"></script>

<div class="dashboard-section">
  <div class="dashboard-info">
    <h1 class="page-header">Dashboard</h1>
    <p><strong>Username</strong> {{user.username}}</p>
    <p><strong>Weight</strong> {{user.weight}}</p>
    <p><strong>Age</strong> {{user.age}}</p>
    <p><strong>Weight Goal</strong> {{user.weight_goal}}</p>
    <p><strong>BMI</strong> {{stats.BMI}}</p>
    <p><strong>BMR</strong> {{stats.BMR}}</p>
  </div>
  <div class="chart1">
    <div class="card">
      <div class="card-title">
        <h2>Last Session Breakdown</h2>
      </div>
      <div class="card-body">
        <canvas id="lastsession"></canvas>
        <button type="button" class="btn btn-primary" id="compare">
          Compare with pervious session
        </button>
      </div>
    </div>
  </div>
  <div class="chart2">
    <div class="card">
      <div class="card-title">
        <h2>Workout Progress</h2>
        <select name="exercise" id="exercise">
          <option value="sqaut">Squat</option>
          <option value="cruls">Bicep Curl</option>
          <option value="ohp">ohp</option>
          <option value="plank">Plank</option>
        </select>
  
  
      </div>
      <div class="card-body">
        <canvas id="progress"></canvas>

      </div>
    </div>
  </div>
  <div class="chart3">
    <div class="card">
      <div class="card-title">
        <h2> Calorie Chart</h2>
      </div>
      <div class="card-body">
        <canvas id="calorieschart"></canvas>
      </div>
    </div>
  </div>
  <div class="chart4">
    <div class="card">
      <div class="card-title">
        
        <h2>Session Breakdown</h2>
        <select name="session" id="session">
          
        </select>

      </div>
        <div class="card-body">
        <canvas id="sessionhart"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}
