{% extends "base.html" %} {% block main %} {% include 'flash_messages.html' %}
<script src="/static/js/foodtracker.js"></script>

<div>
  <h1 class="page-header">Food Calorie Calculator</h1>
  <div class="totalCals">
    <p><strong> Total Calories</strong></p>
    <p id="totalCals">0</p>
  </div>
  <div id="totalCalsTODB" style="display: none"> 
    <button type="button" id="save" class="btn btn-secondary">
      Save Food items
    </button>

</div>

  <div class="search-box">
    <div class="row">
      <div class="col-md-3">
        <h5>Search All Fields</h5>
      </div>
      <div class="col-md-9">
        <input
          type="text"
          name="search"
          id="search"
          class="form-control"
          placeholder="Search for Food Items"
        />
      </div>
    </div>
  </div>
  <div id="calculator" style="display: none">
    <div class="form-group">
      <label for="activity">Food Item</label>
      <input class="form-control" type="text" id="foodItem" readonly />

    </div>
    <div class="form-group">
      <label for="activity">Kcal</label>
      <input class="form-control" type="text" id="foodKcal" readonly />

    </div>
    <div class="form-group">
      <label for="servings">Servings</label>

      <input class="form-control" type="number" id="servings" />
    </div>
    <button type="button" id="calculate" class="btn btn-secondary">
      Calculate
    </button>
    <div id="addTotal2"> 
      <button type="button" id="addTOTOtal2" class="btn btn-secondary">
        Add to Total
      </button>
    </div>
  </div>
  <div id="results" class="results" style="display: none"></div>
    <div id="calResults"></div>
    </div>
  </div>

</div>

{% endblock %}
