{% extends "base.html" %} {% block main %} {% include 'flash_messages.html' %}

    <div class="container" width="1920px" height="1080px">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <video autoplay id="video"  src="{{ url_for('video_feed',etype=typee) }}"></video>
            </div>
        </div>
    </div>
    <div class="side-box">
        <div class="comments"></div>
        <h3>Comments</h3>
        <div class="info">
          <br />
          <p> COUNTER: <p id="reps"></p></p>
          <p id="correction">TIME:</p>
        </div>
      </div>    
     <script>
        var ErrorImg=[]

setInterval(function() {
    var req = new XMLHttpRequest();
    req.open('GET', '/data', true);
    req.onreadystatechange = function(e) {
        if(req.readyState !== 4) {
            return;
        }
        if ([200, 304].indexOf(req.status) === -1) {
            console.warn('Error! XHR failed.');
        }
        else {
            data = JSON.parse(e.target.responseText);
            var btn = document.createElement("BUTTON");
            btn.innerHTML = data[0];  
            document.body.appendChild(btn);
            console.log(data);
        }
    };
    req.send();
}, 10); 
    </script>
    

{% endblock %}
