
  
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JavaScript Camera</title>
  <link rel="stylesheet" href="/static/css/app.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>


<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <h1 class="title">
            JavaScript Camera
          </h1>
          <video autoplay id="video"></video>
          <button class="button"  id="btnPlay">
            <span class="icon is-small">
              <i class="fas fa-play"></i>
              <p>Sart Workout</p>
            </span>
            
          </button>
          <button  class="button is-hidden" id="btnPause">
            <span class="icon is-small">
              <i class="fas fa-pause"></i>
              <p>Pause Workout</p>
            </span>
          </button>
          <button class="button is-success" id="btnStop">
            <span class="icon is-small">
              <i class="bi bi-stop-circle"></i>
            </span>
          </button>
          <button class="button" id="btnChangeCamera">
            <span class="icon">
              <i class="fas fa-sync-alt"></i>
            </span>
            <span>Switch camera</span>
          </button>
        </div>
        <div class="column">
          <div class="row">
            <h2 class="title">Status</h2>
            <div id="status">
                   <div class="sets-container">
                     sets
                     <p id="sets"></p>

                   </div>
                   <div class="reps-container">
                    Reps
                    <p id="reps"></p>

                  </div>
                  <div class="calorie-container">
                    Calorie
                    <p id="calorie"></p>
                  </div>
            </div>
            </div>
          </div>
          <div class="row">
            <h2 class="title">Screenshots</h2>
            <div id="screenshots"></div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <canvas class="is-hidden" id="canvas"></canvas>
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/static/js/realtime.js"></script>
  <script>

  </script>

</body>

