<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			{% include 'flash_messages.html' %}
			<form action="{{ url_for('register') }}" method="POST" autocomplete="on">
				{{ form.csrf_token }}
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				{{ form.username(placeholder="Username") }}
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				{{ form.password(placeholder="Password") }}
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				{{ form.email(placeholder="Email") }}
				<label for="age">
					<i class="fas fa-age"></i>
				</label>
				{{ form.age(placeholder="age") }}
				<label for="gender">
					<i class="fas fa-gender"></i>
				</label>
				{{ form.gender(placeholder="gender") }}												   
				
				<label for="height">
					<i class="fas fa-height"></i>
				</label>
				{{ form.height(placeholder="height") }}												   
				<label for="weight">
					<i class="fas fa-weight"></i>
				</label>
				{{ form.weight(placeholder="weight") }}												   

				<label for="weightgoal">
					<i class="fas fa-weightgoal"></i>
				</label>
				{{ form.weightgoal(placeholder="weightgoal") }}												   
				
				<label for="pal">
					<i class="fas fa-age"></i>
				</label>
				{{ form.level(placeholder="Physical Activity Level") }}												   
				<label for="ei">
					<i class="fas fa-age"></i>
				</label>
				{{ form.in(intensity="Physical Activity Level") }}												   

				<input type="submit" value="register"> 


			</form>
		</div>
	</body>
</html>
