{% extends "base.html" %} {% block main %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var intakeshould = "{{result.intake}}";
  var intakeamount = "{{result.intakeamount}}";
  var burnshould = "{{result.burned}}";
  var burnamount = "{{result.burnamount}}";
</script>
<script src="/static/js/suggestion.js"></script>

<div>
  <div id="dispalybox">
    <p><strong> Goal Weight</strong>{{result.weight_goal}}</p>
    <p>
      <strong>Estimated time to achieve Goal</strong>{{result.timetogoal}} weeks
    </p>
    <div class="canvasgrid">
      <canvas class="displaycontainer" id="intake"></canvas>
      <p><strong>Daily Calorie to Consume</strong>{{result.intake}}</p>
      <canvas class="displaycontainer" id="totalburn"></canvas>
      <p><strong>Daily Calorie to Burn</strong>{{result.burned}}</p>
    </div>
    <!---
        <canvas id="work"></canvas>
        <p id="workvlaue"><Strong>Work Activity Calories to Burn</Strong> result.work</p>
        <canvas id="home"></canvas>
        <p id="homevlaue"></p>><Strong>Home Activity Calories to Burn</Strong>result.home</p>
        <canvas id="sleep"></canvas>
        <p id="sleep"></p>><Strong>Sleep Calories to Burn</Strong>result.sleep</p>
        <canvas id="exercise"></canvas>
        <p id="exercisevlaue"></p>><Strong>Exercise Activity Calories to Burn</Strong></p>
        -->
  </div>
  <div class="suggestions">
    {% if result.suggest %} {% for code in result.suggestions%}
    <p>{{code[0]}}{{code[1]}}</p>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
