{% extends "base.html" %} {% block main %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var intakeshould = "{{result.intake}}";
  var intakeamount = "{{result.intakeamount}}";
  var burnshould = "{{result.burned}}";
  var burnamount = "{{result.burnamount}}";
</script>
<script src="/static/js/suggestion.js"></script>

<div>
  <div id="dispalybox">
    <p><strong> Goal Weight</strong> {{result.weight_goal}}</p>
    <p>
      <strong>Estimated time to achieve Goal</strong> {{result.timetogoal}}
      weeks
    </p>
    <p><strong>Maintenance intake</strong> {{result.maintenance}} kcl</p>
    <div class="canvasgrid">
      <canvas class="displaycontainer" id="intake"></canvas>
      <p><strong>Daily Calorie to Consume </strong> {{result.intake}} kcl</p>
      <canvas class="displaycontainer" id="totalburn"></canvas>
      <p><strong>Daily Calorie to Burn </strong> {{result.burned}} kcl</p>
    </div>
    <!---
        <canvas id="work"></canvas>
        <p id="workvlaue"><Strong>Work Activity Calories to Burn</Strong> result.work</p>
        <canvas id="home"></canvas>
        <p id="homevlaue"></p>><Strong>Home Activity Calories to Burn</Strong>result.home</p>
        <canvas id="sleep"></canvas>
        <p id="sleep"></p>><Strong>Sleep Calories to Burn</Strong>result.sleep</p>
        <canvas id="exercise"></canvas>
        <p id="exercisevlaue"></p>><Strong>Exercise Activity Calories to Burn</Strong></p>
        -->
  </div>
  <div class="suggestions">
    {% if result.suggest %}
    <div id="corectionTable">
      <table class="table table-hover">
        <h3>You can select from any one of these exercises</h3>
        <thead>
          <tr>
            <th scope="col">Workout</th>
            <th scope="col">Time(mins)</th>
          </tr>
        </thead>
        <tbody>
          {% for code in result.suggestions%}
          <tr>
            <th scope="row">{{code[0]}}</th>
            <th>{{code[1]}}</th>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}
