{% extends "base.html" %} {% block main %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h2>Select An Excercise</h2>

<!--
<div class="dropdown select-exc">
  <a
    class="btn btn-secondary dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Select An Excercise
  </a>

  <ul class="dropdown-menu" id="select-exc" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Plank</a></li>
    <li><a class="dropdown-item" href="#">Squat</a></li>
    <li><a class="dropdown-item" href="#">Bicep Curl</a></li>
    <li><a class="dropdown-item" href="#">Pushup</a></li>
    <li><a class="dropdown-item" href="#">Lunges</a></li>
  </ul>
</div>
<br />
<h3 class="exc-choice"></h3>
<br />

<br />
-->

<h2>Upload Video File</h2>
<hr />
{% include 'flash_messages.html' %}
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="form-group">
      {{ form.etype.label }} {{ form.etype(class="form-control") }}
  </div>
  <div class="form-group">
    <label for="">Select Video</label>
    <div class="custom-file">
      {{ form.video(class="custom-file-input",id="videos") }}  
      <label class="custom-file-label" for="video">Select video...</label>
    </div>
  </div>
  <button type="submit" class="btn btn-success" id="upload-btn">Upload</button>
</form>
<script>
  (function () {
    const btn = document.querySelector("#upload-btn");
    btn.addEventListener("click", function () {
      btn.classList.remove("btn-success");
      btn.classList.add("btn-primary");
      const span = document.createElement("span");
      span.classList.add("spinner-border");
      span.classList.add("spinner-border-sm");
      btn.innerHTML="Processing..";
      btn.appendChild(span);  
    });

  })();
</script>
{% endblock %}
