{% extends "base.html" %} 
{% block main %} 
<script src="/static/js/videoAudit.js"></script>

<div class="video_tracker" class="columns">

    {{audit.Exercise}} Video aduting
<div class="video-details">
    <div id="videocontent" class="column">
        <video controls=""  id="video" preload="auto" width="640px;" height="480px;">
          <source src="{{ url_for('send_file', filename=audit.filename) }}" type="video/mp4">
          <source src="{{ url_for('send_file', filename=audit.filename) }}" type="video/avi">
          Your browser does not support the video tag.
        </video>
  </div>
  <div class="details">
  <div class="overview">
      <p id="duaration"><strong>Duration:       </strong>{{audit.duration}}</p>
      <p id="sets"><strong>Sets:                </strong>{{audit.sets}}</p>
      <p id="reps"><strong>Reps:                </strong>{{audit.reps}}</p>
      <p id="calorie"> <strong>Calories Burned: </strong>{{audit.calorie}}</p>
  </div>
  
      <div id="errors" class="column">
          <a class="btn btn-light" data-bs-toggle="collapse" href="#errorBreakdown" role="button" aria-expanded="false" aria-controls="errorBreakdown">
              Number of errors {{audit.errors.total}}
            </a>
          <div class="collapse" id="errorBreakdown">
              <div class="card card-body">
                  {% for error,total in audit.errors.errors.items() %}

                   <p><storng>{{error}} </storng> {{total}}</p>
                   {% endfor %}             
                </div>
          </div>

      </div>
      </div>
      </div>
      
      <div id="timecodes" class="timecodes-container">
        {% for timecode,mistake in audit.timecodes.items() %}
              <div class="timecodes">
              <div><a href="javascript:void(0);" onclick="timecode(this)"> {{timecode}}  </a></div>
              <div><p>{{mistake}}</p></div>
              </div>
            </br>
             {% endfor %}             

      </div>

      <div id="corectionTable">
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">Mistakes</th>
                  <th scope="col">Corrections</th>
                </tr>
            </thead>
            <tbody>
                {% for mistake,correction in corrections.items()%}
                <tr>

                <th scope="row">{{mistake}}</th>
                <th>{{correction}}</th>
                </tr>
                {% endfor %}             
            </tbody>
        </table>
          
     </div> 
  </div>
</div>
<script>
</script>

{% endblock %}
